body {
    background-color: white
}

/*si quisiera editar un texto en específico, tendía que poner una clase utilizando el "." con el tipo de etiqueta antes del mismo*/
p {
    color:rgb(53, 53, 53); font size: 24px;
}

#Título {
    color:black; text-align: center;
}

/*si quisiera seleccionar solo las etiquetas que esten dentro de otras en específico, tendría que ponerlas con un espacio (Ej: "div p")*/
h2 {
    color:black; font-size: 30px;
}

h1 {
    font-size: 40px;
}

/*si quisiera seleccionar todos los elementos, tengo que usar el selector "*", aunque no cambia lo que ya fue cambiado antes en CSS*/

.Post {
    width: 500px; border: 1px black solid; text-align:center;
}

a {
    text-decoration: none; color: white; font-size: 30px; font-weight: bold;
}

img {
    border: 1px solid black;
}

.LinkInicio {
    color: white; background-color: black;margin-bottom:25px; margin-left: 25px;
    padding:10px; border-radius:5px; font-size:18px;
}

.Contacto {
    margin-left:25px;
}

.Derechos {
    margin-left:25px; color: grey;
}

div footer {
    padding-bottom: 5px; padding-top: 20px;
}

section div div {
    position: fixed; bottom: 0; margin-bottom:690px; margin-left:-10px;
}

.BarraVerticalIzq {
    margin-left:-160px; position:fixed; z-index:999; bottom: 0; background-color:aquamarine;
}