body {
    background-color: white
}

/*si quisiera editar un texto en específico, tendía que poner una clase utilizando el "." con el tipo de etiqueta antes del mismo*/
p {
    color:rgb(53, 53, 53); font-size: 20px;
}

#Título {
    color:black; text-align: center;
}

/*si quisiera seleccionar solo las etiquetas que esten dentro de otras en específico, tendría que ponerlas con un espacio (Ej: "div p")*/
h2 {
    color:black; font-size: 30px;
}

h1 {
    font-size: 40px; text-align:center;
}

/*si quisiera seleccionar todos los elementos, tengo que usar el selector "*", aunque no cambia lo que ya fue cambiado antes en CSS*/

.Post {
    width: 500px; border: 5px black outset; text-align:center;
    background-color:whitesmoke; border-radius: 8%;
}

a {
    text-decoration: none; color: white; font-size: 30px; font-weight: bold;
}

img {
    border: 1px solid black;
}

.LinkInicio {
    color: white; background-color: black;margin-bottom:25px; margin-left: 25px;
    padding:10px; border-radius:5px; font-size:18px;
}

.Contacto {
    text-align:center;
}

.Derechos {
    margin-left:50px; color: grey;
}

div footer {
    padding-bottom:5px;
}

div div {
    position: fixed; bottom: 0; margin-bottom:690px; margin-left:-10px;
}

.BarraVerticalIzq {
    margin-left:-110px; position:fixed; z-index:999; bottom: 0;
    background-color:rgb(113, 113, 113); border-right: 3px solid black;
}

body {
    background-image: url('img/Patrón-blanco-y-negro-1.jpg'); background-size: auto;
}

#Título {
    width:400px; background-color:whitesmoke; background-size:auto; margin-left:300px;
    border-radius:5%; border: 1px solid black;
}